{% extends 'base.html' %}

{% block title %}
  Green Index
{% endblock %}

{% block headadd %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style> 
table, th, td{
  border-color: #52665e;
   border-collapse: collapse;
  }
  th{
  background-color: #386150;
  }
table{
  margin-left: auto;
  margin-right:auto;
}
body{
  background-image: url('/static/images/image_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
</style>
{% endblock %}

{% block content %}
<body>
  <div class="first">
  <h1><p align= center>GREEN INDEX</p></h1>
  </div>
  <table border=1 width=720>
  <tr>
  <th width=25%><p align=center>Species</p></th>
  <th width=25%><p align=center>  <a href='/map'>Harta</a></p></th>
  <th width=25%><p align=center>About Project</p></th>
  <th width=25%><p align=center>About Us</p></th>
  </tr>
  </table>
  </body>
{% endblock %}